<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Odyssey Espresso</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    </head>
    <body>
        <div class="container">
            <div id="blog" class="row"> 
                <div class="col-md-10 blogShort">
                    <h1>Pour on 7/21/2020</h1>                    
                    <article><p>
                        Here is where you'll have a short description and/or graph.
                        </p></article>
                    <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a> 
                </div>
                    <div class="col-md-10 blogShort">
                    <h1>Pour on 7/20/2020</h1>
                    <article><p>
                        Here is where you'll have a short description and/or graph.
                        </p></article>
                    <a class="btn btn-blog pull-right marginBottom10" href="http://bootsnipp.com/user/snippets/2RoQ">READ MORE</a> 
                </div>
                
                <div class="col-md-12 gap10"></div>
            </div>
       </div>
    </body>
</html>

