<!DOCTYPE html>
<html>
    <body>
        <form>
            <button id="connect">Connect BLE device</button>
            <button id="disconnect">Disconnect Device</button>
            <button id="start">Start</button>
            <button id="stop">Stop</button>
        </form>
        <div id="text-section">
            <h1 id="ready">Ready</h1>
        </div>
        <div id="terminal"></div>
    </body>
    <script>
        // GATT searches for only this device name
        var deviceName = "Nick's App";

        // These are the random UUIDs that I generated
        const serviceUuid = "6a521c59-55b5-4384-85c0-6534e63fb09e";
        const characteristicsUUID = {
            led: "6a521c60-55b5-4384-85c0-6534e63fb09e",
            temp: "6a521c61-55b5-4384-85c0-6534e63fb09e",
            newChar: "6a521c62-55b5-4384-85c0-6534e63fb09e",
        }
        const uuidLookup = {
            "6a521c60-55b5-4384-85c0-6534e63fb09e": "led",
            "6a521c61-55b5-4384-85c0-6534e63fb09e": "temp",
            "6a521c62-55b5-4384-85c0-6534e63fb09e": "newChar",
        }

        // const serviceUuid = "19b10010-e8f2-537e-4f6c-d104768a1214";
        var bluetoothDevice;
        var batteryLevel;
        // const characteristicsUUID = {
        //     led:"19b10011-e8f2-537e-4f6c-d104768a1214",
        //     button:"19b10012-e8f2-537e-4f6c-d104768a1214"
        // }

        let connectButton = document.getElementById('connect');
        let disconnectButton = document.getElementById('disconnect');
        let startButton = document.getElementById('start');
        let endButton = document.getElementById('end');
        let deviceCache = null;
        let tempCharacteristic = null;
        let newCharacteristic = null;
        let terminalContainer = document.getElementById('terminal');
        let readyButton = document.getElementById('ready')
        readyButton.style.color = "gray";


        connectButton.addEventListener('click', function() {
            event.stopPropagation();
            event.preventDefault();
            connect();
        });

        disconnectButton.addEventListener('click', function() {
            event.stopPropagation();
            event.preventDefault();
            disconnect();
        });

        function connect() {
            return (deviceCache ? Promise.resolve(deviceCache) : requestBluetoothDevice())
            .then(device => connectDeviceAndCacheCharacteristics(device))
            // Set up notification monitoring for more than one characteristic
            .then(characteristic => {
                for (item of characteristic) {
                    startNotifications(item)
                }
            })
            .catch(error => console.log('Argh! ' + error));
        }

        function requestBluetoothDevice() {
            console.log('Requesting bluetooth device...');
            let options = {
                // acceptAllDevices: true // option to accept all devices
                optionalServices: [serviceUuid],
                "filters": [
                    {"name": deviceName}
                ]
            }

            return navigator.bluetooth.requestDevice(options)
            .then(device => {
                console.log('"' + device.name + '" bluetooth device selected');
                deviceCache = device;

                deviceCache.addEventListener('gattserverdisconnnected',
                    handleDisconnection);

                return deviceCache;
            });
        }

        function handleDisconnection(event) {
            let device = event.target;

            console.log('"' + device.name + 
                '" bluetooth device disconnected, trying to reconnect...');
            
            connectDeviceAndCacheCharacteristics(device)
            .then(characteristic => startNotifications(characteristic))
            .catch(error => console.log('Reconnection Error: ' + error));
        }
        
        function startNotifications(characteristic) {
            console.log('Starting notifications...');

            return characteristic.startNotifications().
                then(() => {
                    console.log('Notifications started');
                    characteristic.addEventListener('characteristicvaluechanged',
                        handleCharacteristicValueChanged)
                });
            }

        function disconnect() {
            if (deviceCache) {
                console.log('Disconnecting from "' + deviceCache.name + '" bluetooth device...');
                deviceCache.removeEventListener('gattservicedisconnected',
                    handleDisconnection);
                if (deviceCache.gatt.connected) {
                    deviceCache.gatt.disconnect();
                    console.log('"' + deviceCache.name + '" bluetooth device disconnnected');
                }
                else {
                    console.log('"' + deviceCache.name + 
                        '" bluetooth device is already disconnected');
                }
            }

            if (tempCharacteristic) {
                tempCharacteristic.removeEventListener('characteristicvaluechanged',
                    handleCharacteristicValueChanged);
                    tempCharacteristic = null;
            }
            if (newCharacteristic) {
                newCharacteristic.removeEventListener('characteristicvaluechanged',
                    handleCharacteristicValueChanged);
                    newCharacteristic = null;
            }
            deviceCache = null;
        }

        function handleCharacteristicValueChanged(event) {
            // Output the value for each event differently
            let tempValue = event.target.value.getFloat32(0, true);
            console.log('Aruino Output for ' + 
                uuidLookup[event.target.uuid] + ': ' + tempValue.toFixed(2));

        }

        function log(data, type = '') {
            terminalContainer.insertAdjacentHTML('beforeend',
                '<div' + (type ? ' class="' + type + '"' : '') + '>' + data + '</div>');
        }

        function connectDeviceAndCacheCharacteristics(device) {
            if (device.gatt.connected && tempCharacteristic) {
                return Promise.resolve(tempCharacteristic);
            }
            console.log('Connecting to GATT server...');
            return device.gatt.connect()
            .then(server => {
                console.log('GATT server connected, getting service...');
                return server.getPrimaryService(serviceUuid)
            })
            .then(service => {
                console.log('Service found, getting characteristic...');
                // Checking for all characteristics emitted
                return service.getCharacteristics();
            })
            .then(characteristics => {
                console.log('Characteristics found');
                // Assigning the relevant characteristics from the Arduino to
                // the HTML page
                for (entry of characteristics) {
                    if (entry.uuid === characteristicsUUID["temp"]) {
                        tempCharacteristic = entry;
                        console.log('temp: ' + tempCharacteristic);
                    } else if (entry.uuid === characteristicsUUID["newChar"]) {
                        newCharacteristic = entry;
                        console.log('new: ' + newCharacteristic);

                    }
                }
                readyButton.style.color = 'green';
                return [tempCharacteristic, newCharacteristic];
            });

        }










        // // //
        // function isWebBluetoothEnabled() {
        //     if (!navigator.bluetooth) {
        //         console.log('Web bluetooth API is not available in this browser!');
        //         return false;
        //     }
        //     return true;
        // }
        // console.log("sample");

        // function onReadBatteryLevelButtonClick() {
        //     return (bluetoothDevice ? Promise.resolve() : requestDevice())
        //     .then(connectDeviceAndCacheCharacteristics)
        //     .then(_ => {
        //         console.log('Reading Battery Level...');
        //         return batteryLevel.readValue();
        //     })
        //     .catch(error => {
        //         console.log('Argh! ' + error);
        //     });
        // }

        // function requestDevice() {
        //     let options = {
        //         // acceptAllDevices: true // option to accept all devices
        //         optionalServices: [serviceUuid],
        //         "filters": [
        //             {"name": deviceName}
        //         ]
        //     }
        //     console.log('Requesting bluetooth device...');
        //     return navigator.bluetooth.requestDevice(options).then(device => {
        //         bluetoothDevice = device;
        //         bluetoothDevice.addEventListener('gattserverdisconnected', onDisconnected);
        //     });
        // }

        // function connectDeviceAndCacheCharacteristics() {
        //     if (bluetoothDevice.gatt.connected && batteryLevel) {
        //         return Promise.resolve();
        //     }
        //     console.log('Connecting to GATT Server...');
        //     return bluetoothDevice.gatt.connect()
        //     .then(server => {
        //         console.log('Getting Battery Service...');
        //         return server.getPrimaryService('battery_service');
        //     })
        //     .then(service => {
        //         console.log('Getting Battery Level Characteristic...');
        //         return service.getCharacteristic('battery_level');
        //     })
        //     .then(characteristic => {
        //         batteryLevel = characteristic;
        //         batteryLevel.addEventListener('characteristicvaluechanged', handleBatteryLevelChanged);
        //     });
        // }

        // function handleBatteryLevelChanged(event) {
        //     let batteryLevel = event.target.value.getUint8(0);
        //     console.log('> Battery Level is ' + batteryLevel + '%');
        // }

        // function onDisconnected() {
        //     console.log('> Bluetooth Device Disconnected');
        //     connectDeviceAndCacheCharacteristics()
        //     .catch(error => {
        //         console.log('Error Connecting! ' + error);
        //     });
        // }

        // function requestDevice() {
        //     let options = {
        //         // acceptAllDevices: true // option to accept all devices
        //         optionalServices: [serviceUuid],
        //         "filters": [
        //             {"name": deviceName}
        //         ]
        //     }
        //     console.log("Requesting bluetooth device...");
        //     navigator.bluetooth.requestDevice(options).then(device => {
        //         bluetoothDevice = device;
        //         console.log('> Name: ' + device.name);
        //         bluetoothDevice.addEventListener('gattserverdisconnected', onDisconnected);
        //     });
        // }

        // document.querySelector('#read').addEventListener('click', function(event) {
        //     event.stopPropagation();
        //     event.preventDefault();

        //     if (isWebBluetoothEnabled()) {
        //         requestDevice();
        //     }
        // })

        // document.querySelector('#start').addEventListener('click', function(event) {
        //     onReadBatteryLevelButtonClick();
        //     console.log('start button clicked');
        // })




        
        // function getDeviceInfo() {
        //     let options = {
        //         // acceptAllDevices: true // option to accept all devices
        //         optionalServices: [serviceUuid],
        //         "filters": [
        //             {"name": deviceName}
        //         ]
        //     }
        //     console.log("Requesting bluetooth device...");
        //     navigator.bluetooth.requestDevice(options).then(device => {
        //         bluetoothDevice = device;
        //         console.log('> Name: ' + device.name);
        //         console.log('Connecting to GATT server');
        //         return device.gatt.connect();
        //     })
        //     .then(server => {
        //         console.log('Getting GAP Service');
        //         return server.getPrimaryService(serviceUuid);
        //     })
        //     .then(service => {
        //         return service.getCharacteristic("19b10011-e8f2-537e-4f6c-d104768a1214")
        //     })

        //     .then(characteristic => {
        //         console.log('Reading Battery Level...');
        //         return characteristic.readValue();
        //     })
        //     .then(value => {
        //         batteryLevel = value.getUint8(0);
        //         console.log('> Battery Level is ' + batteryLevel + '%');
        //     })
        //     .catch(error => {
        //         console.log('Argh! ' + error);
        //     })
        //     }

        // document.querySelector('#read').addEventListener('click', function(event) {
        //     event.stopPropagation();
        //     event.preventDefault();

        //     if (isWebBluetoothEnabled()) {
        //         getDeviceInfo();
        //     }
        // })

        // document.querySelector('#start').addEventListener('click', function(event) {
        //     if (isWebBluetoothEnabled()) {
        //         start();
        //     }
        // })

        // document.querySelector('#stop').addEventListener('click', function(event) {
        //     if (isWebBluetoothEnabled()) {
        //         stop();
        //     }
        // })




    </script>
</html>